* {
	font: inherit;
	box-sizing: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.4;
	overflow: auto;
}

a, a:visited {
	color: #0085d6;
	text-decoration: none;
	position: relative;
}

a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #0085d6;
}

.dump-classes {
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
}

.dump-class {
	background-color: #eee;
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.dump-class-title {
	font-size: 2rem;
	font-weight: bold;
	margin-left: 0.5rem;
	margin-bottom: 0.25em;
}

.dump-class-subtitle {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 0.5rem;
	margin-bottom: 0.25em;
}

.dump-class-tags,
.dump-class-inherits {
	font-style: italic;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}

.dump-class-description {
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}

/* new */
.dump-class-member-section {
	margin-top: 0.5rem;
}

.dump-class-member-section:not(:last-child) {
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.dump-class-member-section-list {
}

.dump-class-member {
	padding: 0.5rem;
}

.dump-class-member:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dump-class-member:first-of-type {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.dump-class-member-name {
	font-weight: bold;
	font-family: monospace;
}

.dump-class-member-description {
	padding-top: 1rem;
}

.dump-class-function-signature {
	margin-bottom: 0.25rem;
}

.dump-function-name {
	font-weight: bold;
}

.dump-function-argument {
	margin-left: 2rem;
}

.markdown h1 {
	font-size: 2rem;
	font-weight: bold;
}

.markdown h2 {
	font-size: 1.6rem;
	font-weight: bold;
}

.markdown h3 {
	font-size: 1.3rem;
	font-weight: bold;
}

.markdown strong {
	font-weight: bold;
}

.markdown em {
	font-style: italic;
}

.markdown code {
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.07);
	padding: 0.1em;
}